<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <div class="messages">
      <% messages.map((message) => { %>
        <div class="message">
          <div class="username">
            <%= message.user %>
          </div>
          <div class="text">
            <%= message.text %>
          </div>
          <div class="timestamp">
            <%= message.added %>
          </div>
          <button onclick="window.location.href='/messages/<%= message.id %>'">Open</button>
        </div>
      <% }) %>
    </div>
    <button onclick="window.location.href='/new'">New message</button>
  </body>
</html>